.header {
  padding: 45px 0;

  margin-bottom: clamp(0px, -2.727rem + 13.64vw, 120px);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 50px;

  color: rgb(96, 96, 96);
  font-family: $inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
}
.header__item {
  transition: transform 0.1s linear;

  &:hover {
    color: $colorBlack;
    transform: translateY(-2px);
  }
}
.header__row {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header__input {
  display: flex;
  align-items: center;
  column-gap: 30px;

  border-radius: 14px;
  background: rgb(237, 237, 237);
  padding: 18px 80px 18px 22px;
}

.button_header {
  padding: 16px 24px;
}

.header__wrapper_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.header__nav_mobile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);

  z-index: 4;
}

.header__nav_list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  left: 50%;

  z-index: 10;

  transform: translate(-50%, 80%);
}

.header__nav_item {
  a {
    color: rgb(96, 96, 96);
    font-family: $inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
}

.button__header_mobile {
  padding: 5px 5px;
}

@include largeTablet {
  .header__wrapper {
    display: none;
  }

  .header__wrapper_mobile {
    display: flex;
  }
}
